body {
    padding: 10px;
}

h1, h2, h5, h6 {
    font-weight: bold;
}

.listing {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.listing:hover {
    transform: scale(1.03);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.card-columns a {
    text-decoration: none;
    color: black;
}

.missing {
    font-style: italic;
}

.container {
    border: none;
    text-align: left;
}

#comment {
    padding-left: 1.5%;
    padding-top: 1%;
}

.card-img-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
}

#photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
}